body {
  align-items: center;
  background-attachment: fixed;
  background-image: url(./gettyimages-641963334-612x612.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #ffffff;
  text-align: center;
}

form {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  margin: 20px;
  padding: 40px;
  text-align: center;
}

input[type="text"] {
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
}

input[type="submit"] {
  background-color: #000000;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
  padding: 10px 20px;
}

.pesoAltura {
  align-items: center;
  display: flex;
  flex-direction: column;
}
